language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - "pip install . -r test_requirements.txt"
script:
  - "pip install mypackage -i file://`pwd`/fixtures/"
  - "pip install `pwd`/fixtures/mydevpackage"
  - "pytest ./tests"
